/* importing the font I will use throughout the project */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

/* setting the background style */
body{
    background-image:linear-gradient(black,darkblue);
    background-repeat: no-repeat;
}
/* setting global styles */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:white;
}
/* Personal css file with unused bits removed */
.rounded{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
.dark{
    background-color:rgba(0, 0, 0, 0.2)
}
.small{
    width: 100px;
    height:50px;
}
.medium{
    width:150px;
    height:50px;
}
.large{
    width:200px;
    height:50px;
}
.x-large{
    width:250px;
    height:50px;
}
.responsive-small{
    width:30%;
    height:50px;
}
.responsive-medium{
    width:50%;
    height:50px;
}
.responsive-large{
    width:90%;
    height:50px;
}
.center{
    text-align: center;
    margin:auto;
    vertical-align: auto;
}
.max-width{
    max-width: 500px;
}
/* homepage specific changes */
.game-body{
    height:100vh;
    width:100vw;
}
.game-title{
    padding-top: 5vh;
    text-align: center;
    color:white;
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
}
.home-options{
    margin-top:50vh;
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight:500;
    margin-top: 5px;
}
.margin{
    margin-right: 30px;
}
/* sign in and sign up specific changes */
.input-content-container{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
form{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#button-margins{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
button {
    appearance:inherit;
    text-align: center;
    color:white;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border:0px;
    width: inherit;
    height:inherit;
    border-radius: inherit;
}
input {
    text-align: center;
    color:white;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: rgba(0, 0, 0, 0);
    margin: 0em;
    padding:0;
    border-width:0;
    width:inherit;
    height:inherit;
    border-radius: inherit;
}
input:focus{
    outline: none;
}
label{
    margin-top:2.5vh;
    margin-bottom:2.5vh;
    color:white;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.form-bg{
    width:100vw;
    height:70wh;
}
.bottom-page-text{
    margin-top:20px;
}
/* profile specific styles */
.profile-body{
    width:100vw;
    height:80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around
}
.profile-card{
    width:40vw;
    height:30vh;
    background-color: rgba(255, 255, 255, 0.2);
    color:white;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
h6{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight:300;
    margin-left:5px;
    margin-right:5px;
}
@media screen and (max-width: 600px) {
    .profile-card{
        width:80vw;
        height:15vh;
        background-color: rgba(255, 255, 255, 0.2);
        color:white;
        font-size:20px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    h6{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 30px;
        font-weight:300;
    }
}