{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1 class="game-title">Word VS</h1>
<div class="input-content-container">
    <div class="rounded form-bg max-width">
        <form method="POST" action="{{ url_for('add_friend') }}">
        <label for="username">Username</label>
        <div class="center rounded responsive-large dark">
            <input class="center" id="username" type="text" name="username" 
            pattern="^[a-zA-Z0-9]{5,11}$" class="validate" required>
        </div>
        <div class="rounded small dark" id="button-margins">
            <button type="submit">
                Add friend
            </button>
        </div>
        </form>
    </div>
</div>
<div class="responsive-large rounded max-width top-margin center">
    <a href="{{ url_for('friend_picker', username=session['user']) }}"><h6>Back</h6></a>
</div>
{% endblock %}
