{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('profile') }}"><h1 class="game-title">Word VS</h1></a>
{% if challenges|length == 0 %}
<div class="friend-list rounded">
    <div class="rounded responsive-large dark">
        <h5>No challenges found</h5>
    </div>

{% else %}
    <div class="friend-list rounded">
        <div class="rounded responsive-large small-margin">
            <h6>New Challenges</h6>
        </div>
    {% for challenge in challenges %}
        {% if challenge.state == "created" %}
        <div class="rounded responsive-large small-margin dark">
            <a href="{{ url_for('game', challenge=challenge._id) }}"><h5>Challenge from {{challenge.from}}</h5></a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="friend-list rounded">
        <div class="rounded responsive-large small-margin">
            <h6>Already started</h6>
        </div> 
    {% for challenge in challenges %}
        {% if challenge.state == "started" %}
        <div class="rounded responsive-large dark">
            <a href="{{ url_for('game', challenge=challenge._id) }}">
                <h5>Challenge from {{challenge.from}}</h5>
            </a>
            <div class="rounded dark responsive-large small-margin">
                <a href="{{ url_for('give_up', challenge_id=challenge._id) }}"><h6>Give up</h6></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
    <div class="rounded responsive-large margin-friend dark">
        <a href="{{ url_for('profile', username=session['user']) }}">
            <h6>Back</h6>
        </a>
    </div>
</div>
{% endblock %}