{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('profile', username=session['user']) }}"><h1 class="game-title">Word VS</h1></a>
<div class="friend-list rounded">
{% if challenges|length == 0 %}
    <div class="rounded friend-card dark">
        <h5>No challenges found</h5>
    </div>
{% else %}
    {% for challenge in challenges %}
        <div class="rounded friend-card dark">
            <a href="#"><h5>Challenge from {{challenge.from}}</h5></a>
        </div>
    {% endfor %}
{% endif %}
    <div class="rounded responsive-large margin-friend dark">
        <a href="{{ url_for('profile', username=session['user']) }}">
            <h6>Back</h6>
        </a>
    </div>
</div>
{% endblock %}