{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('profile') }}"><h1 class="game-title">Word VS</h1></a>
<h6>Editing challenge for {{friend}}</h6>
<div class="input-content-container">
    <div class="rounded form-bg max-width">
        <form method="POST" action="{{ url_for('edit_challenge', challenge_id=challenge, friend=friend) }}">
            <div class="responsive-large">
                <label for="word"><h5>Word</h5></label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="word" type="text" name="word" 
                pattern="^[A-Z,a-z]{4,8}$" class="validate" required>
            </div>
            <div class="responsive-large">
                <label class="label" for="letters"><h5>Letters</h5></label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="letters" type="text" name="letters" 
                pattern="^[A-Z,a-z]{4,15}$" class="validate" required>
            </div>
            <div class="rounded responsive-large dark" id="button-margins">
                <button type="submit"><h5>Send</h5></button>
            </div>
        </form>
    </div>
</div>
<div class="responsive-large rounded max-width top-margin center">
    <a href="{{url_for('sent_challenges')}}"><h6>Back</h6></a>
</div>
{% endblock %}
