{% extends "base.html" %}
{% block styles %}
{% endblock %}
{% block content %}
<div class="hidden-off-screen-container">
    <form method="POST" id="submit" class="hidden-off-screen-element" action="{{ url_for('game', challenge=challenge._id) }}">
        <label for="answer">answer</label>
            <input id="answer" type="text" name="answer" class="validate" value="" required>
    </form>
</div>
<div class="game-area">
    <div class="responsive-large margin-bottom">
        <h6>{{ challenge.from }}'s challenge</h6>
        <div class="rounded responsive-small">
            <a href="{{ url_for('profile', username=session['user']) }}"><h6>back</h6></a>
        </div>
    </div>
    <!-- this id and length attribute is solely so javascript knows how long the length of the word is -->
    <div class="rounded guess-box margin-bottom" id="length" length="{{challenge.word|length}}">
    <!-- populates the guesses -->
    {% for guess in guesses %}
        <div class="game-line">
        {% if challenge[guess]|length != 0  %}
            {% for letter in challenge[guess] %}
                {% if letter == challenge.word[loop.index0] %}
                <div class="game-square correct">
                    <h3>{{letter}}</h3>
                </div>
                {% elif letter is in challenge.word %}
                <div class="game-square nearly">
                    <h3>{{letter}}</h3>
                </div>
                {% else %}
                <div class="game-square">
                    <h3>{{letter}}</h3>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for letter in challenge.word %}
            <div class="game-square">
                <h3></h3>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endfor %}
    </div>
    <!-- flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- creates a box for every letter in the word -->
    <div class="game-line margin-bottom">
        {% for letter in challenge.word %}
            <div class="input-square" id="{{loop.index}}">
                <h3></h3>
            </div>
        {% endfor %}
            <img id="backspace" letter="backspace" onclick="clicked(this.getAttribute('letter'))" src="{{ url_for('static', filename='images/backspace.png')}}">
    </div>
    <!-- creates a box for every letter in the available letters forming a keyboard  -->
    <div class="rounded keyboard-bg">
        {% for letter in challenge.letters %}
            <div class="keyboard-square" letter="{{ letter }}" onclick="clicked(this.getAttribute('letter'))">
                <h3>{{letter}}</h3>
            </div>
        {% endfor %}
    </div>
    <!-- scripts -->
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
</div>
{% endblock %}