{% extends "base.html" %}
{% block content %}
<h1 class="game-title">Word VS</h1>
<!-- populates the guesses -->
    {% if challenge.guess-1 %}
        {% for letter in challenge.guess-1 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% if challenge.guess-2 %}
        {% for letter in challenge.guess-2 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% if challenge.guess-3 %}
        {% for letter in challenge.guess-3 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% if challenge.guess-4 %}
        {% for letter in challenge.guess-4 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% if challenge.guess-5 %}
        {% for letter in challenge.guess-5 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% if challenge.guess-6 %}
        {% for letter in challenge.guess-6 %}
            <div class="game-line">
                <h6>{{letter}}</h6>
            </div>
        {% endfor %}
        {% for letter in challenge.word %}
            <div class="game-line">
                <h6></h6>
            </div>
        {% endfor %}
    {% endif %}
    <div class="rounded responsive-medium new-line">
        <a href="{{ url_for('profile') }}"><h6>back</h6></a>
    </div>
</div>
{% endblock %}