{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('profile', username=session['user']) }}">
    <h1 class="game-title">Word VS</h1>
</a>
<div class="home-options">
    <a href="{{ url_for('signup') }}" class="rounded responsive-small home-buttons">
        <h5>Sign Up</h5>
    </a>
    <a href="{{ url_for('signin') }}" class="rounded responsive-small home-buttons">
        <h5>Sign In</h5>
    </a>
    <a href="{{ url_for('profile', username='guest') }}" class="rounded responsive-small home-buttons">
        <h5>Guest</h5>
    </a>
</div>
{% endblock %}

