{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('profile') }}">
    <h1 class="game-title">Word VS</h1>
</a>
<div class="profile-body">
    {% if user == "guest" %}
    <a href="{{ url_for('signin') }}" class="profile-card rounded">
        <h5>sign in to view challenges sent to friends</h5>
    </a>
    {% elif user == "admin" %}
    <a href="{{ url_for('add_words_admin') }}" class="profile-card rounded">
        <h5>Admin add words page</h5>
    </a>
    {% else %}
    <a href="{{ url_for('sent_challenges') }}" class="profile-card rounded">
        <h5>Sent Challenges</h5>
    </a>
    {% endif %}
    <a href="#" class="profile-card rounded">
        <h5>Free Play (coming soon)</h5>
    </a>
    {% if user == "guest" %}
    <a href="{{ url_for('signin') }}" class="profile-card rounded">
        <h5>sign in to challenge your friends</h5>
    </a>
    {% elif user == "admin" %}
    <a href="{{ url_for('add_words',referrer='profile', key='none') }}" class="profile-card rounded">
        <h5>User add words page</h5>
    </a>
    {% else %}
    <a href="{{ url_for('challenges') }}" class="profile-card rounded">
        <h5>Challenges</h5>
    </a>
    {% endif %}
        {% if user == "guest" %}
        <a href="{{ url_for('signin') }}" class="profile-card rounded">
            <h5>sign in to see your challenges</h5>
        </a>
        {% elif user == "admin" %}

        {% else %}
        <a href="{{ url_for('friend_picker') }}" class="profile-card rounded">
            <h5>Challenge a Friend</h5>
        </a>
        {% endif %}

    {% if user == "guest" %}
    <a href="{{ url_for('homepage') }}" class="rounded responsive-large new-line">
        <h6>back</h6>
    </a>
    {% else %}
    <a href="{{ url_for('signout') }}" class="rounded responsive-large new-line">
        <h6>Sign Out</h6>
    </a>
    {% endif %}
</div>
{% endblock %}
