{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('profile') }}"><h1 class="game-title">Word VS</h1></a>
<div class="profile-body">
    {% if user == "guest" %}
        <a href="{{ url_for('signin') }}" class="profile-card rounded"><h5>sign in to view challenges sent to friends</h5></a>
    {% else %}
        <a href="{{ url_for('sent_challenges') }}" class="profile-card rounded"><h5>Sent Challenges</h5></a>
    {% endif %}
    <div class="profile-card rounded">
        <a href="#"><h5>Free Play (coming soon)</h5></a>
    </div>
    <div class="profile-card rounded">
        {% if user == "guest" %}
            <a href="{{ url_for('signin') }}"><h5>sign in to challenge your friends</h5></a>
        {% else %}
            <a href="{{ url_for('challenges') }}"><h5>Challenges</h5></a>
        {% endif %}
    </div>
    <div class="profile-card rounded">
        {% if user == "guest" %}
            <a href="{{ url_for('signin') }}"><h5>sign in to see your challenges</h5></a>
        {% else %}
            <a href="{{ url_for('friend_picker'}}"><h5>Challenge a Friend</h5></a>
        {% endif %}
    </div>
    <div class="rounded responsive-large new-line">
    {% if user == "guest" %}
        <a href="{{ url_for('homepage') }}"><h6>back</h6></a>
    {% else %}
        <a href="{{ url_for('signout') }}"><h6>Sign Out</h6></a>
    {% endif %}
    </div>
</div>
{% endblock %}
