{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('profile') }}"><h1 class="game-title">Word VS</h1></a>
<div class="friend-list rounded">
{% if challenges|length == 0 %}
    <div class="rounded friend-card dark">
        <h5>No challenges found</h5>
    </div>
{% else %}
    {% for challenge in challenges %}
        {% if challenge.state == "created" %}
        <div class="rounded challenge-card dark">
            <div class="dark rounded responsive-large small-margin">
                <a href="#"><h5>Challenge for {{challenge.for}}</h5></a>
            </div>
            <div class="dark rounded responsive-large">
                <h5>word: {{challenge.word}}</h5>
            </div>
            <div class="dark rounded responsive-large small-margin">
                <h5>letters: {{challenge.letters}}</h5>
            </div>
            <div class="rounded dark-highlight dark new-line small-margin">
                <a href="{{ url_for('edit_challenge', challenge_id=challenge._id, friend=challenge.for ) }}"><h5>Edit</h5></a>
            </div>
            <div class="rounded dark-highlight dark new-line">
                <h5>{{challenge.state}}</h5>
                <div class="created"></div>
            </div>
            <div class="rounded responsive-large dark new-line small-margin">
                <h4 class="new-line">last updated {{challenge.updated_date}}</h4>
                <h4 class="new-line">Created on {{challenge.created_date}}</h4>
            </div>
            <a href="{{ url_for('delete_challenge', challenge_id=challenge._id ) }}" class="responsive-large dark rounded small-margin">
                <h5>Delete</h5>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    {% for challenge in challenges %}
        {% if challenge.state == "started" %}
        <div class="rounded challenge-card dark">
            <div class="dark rounded responsive-large small-margin">
                <a href="#"><h5>Challenge for {{challenge.for}}</h5></a>
            </div>
            <div class="dark rounded responsive-large">
                <h5>word: {{challenge.word}}</h5>
            </div>
            <div class="dark rounded responsive-large small-margin">
                <h5>letters: {{challenge.letters}}</h5>
            </div>
            <div class="rounded responsive-large dark">
                <h5>{{challenge.state}}</h5>
                <div class="started"></div>
            </div>
            <div class="responsive-large dark rounded small-margin">
                <div class="dark rounded responsive-large"><h5>Guesses:</h5></div>
                {% for guess in guesses %}
                    {% if challenge[guess]|length > 0 %}
                    <div class="rounded challenge-guess dark small-margin">
                        <h5>{{challenge[guess]}}</h5>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="responsive-large dark rounded">
                <h4 class="new-line small-margin">last updated {{challenge.updated_date}}</h4>
                <h4 class="new-line small-margin">Created on {{challenge.created_date}}</h4>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% for challenge in challenges %}
        {% if challenge.state == "completed" %}
        <div class="rounded challenge-card dark">
            <div class="dark rounded responsive-large small-margin">
                <a href="#"><h5>Challenge for {{challenge.for}}</h5></a>
            </div>
            <div class="dark rounded responsive-large">
                <h5>word: {{challenge.word}}</h5>
            </div>
            <div class="dark rounded responsive-large small-margin">
                <h5>letters: {{challenge.letters}}</h5>
            </div>
            <div class="rounded responsive-large dark">
                <h5>{{challenge.state}}</h5>
                <div class="completed"></div>
            </div>
            <div class="responsive-large dark rounded small-margin">
                <div class="dark rounded responsive-large"><h5>Guesses:</h5></div>
                {% for guess in guesses %}
                    {% if challenge[guess]|length > 0 %}
                    <div class="rounded challenge-guess dark small-margin">
                        <h5>{{challenge[guess]}}</h5>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="responsive-large dark rounded">
                <h4 class="new-line small-margin">last updated {{challenge.updated_date}}</h4>
                <h4 class="new-line small-margin">Created on {{challenge.created_date}}</h4>
            </div>
            <a href="{{ url_for('delete_challenge', challenge_id=challenge._id ) }}" class="responsive-large dark rounded small-margin">
                <h5>Delete</h5>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    {% for challenge in challenges %}
        {% if challenge.state == "quit" %}
            <div class="rounded challenge-card dark">
                <div class="dark rounded responsive-large small-margin">
                    <a href="#"><h5>Challenge for {{challenge.for}}</h5></a>
                </div>
                <div class="dark rounded responsive-large">
                    <h5>word: {{challenge.word}}</h5>
                </div>
                <div class="dark rounded responsive-large small-margin">
                    <h5>letters: {{challenge.letters}}</h5>
                </div>
                <div class="rounded responsive-large dark">
                    <h5>{{challenge.state}}</h5>
                    <div class="quit"></div>
                </div>
                <div class="responsive-large dark rounded small-margin">
                    <div class="dark rounded responsive-large"><h5>Guesses:</h5></div>
                    {% for guess in guesses %}
                        {% if challenge[guess]|length > 0 %}
                        <div class="rounded challenge-guess dark small-margin">
                            <h5>{{challenge[guess]}}</h5>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="responsive-large dark rounded">
                    <h4 class="new-line small-margin">last updated {{challenge.updated_date}}</h4>
                    <h4 class="new-line small-margin">Created on {{challenge.created_date}}</h4>
                </div>
                <a href="{{ url_for('delete_challenge', challenge_id=challenge._id ) }}" class="responsive-large dark rounded small-margin">
                    <h5>Delete</h5>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
    <a href="{{ url_for('profile', username=session['user']) }}" class="rounded responsive-large margin-friend dark">
        <h6>Back</h6>
    </a>
</div>
<!-- scripts -->
<script type="text/javascript" src="{{url_for('static', filename='js/deleteitem.js')}}"></script>
{% endblock %}