{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('homepage') }}">
    <h1 class="game-title">Word VS</h1>
</a>
<div class="input-content-container">
    <div class="rounded form-bg max-width">
        <form method="POST" action="{{ url_for('signup') }}">
            <div class="responsive-large">
                <label for="username">Username</label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="username" type="text" name="username" pattern="^[a-zA-Z0-9]{5,11}$"
                    class="validate" required>
            </div>
            <div class="responsive-large">
                <label class="label" for="passord">Password</label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="password" type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$"
                    class="validate" required>
            </div>
            <div class="responsive-large" id="button-margins">
                <button class="rounded small dark" type="submit">
                    Sign up
                </button>
            </div>
        </form>
    </div>
</div>
<div class="responsive-large rounded top-margin max-width center">
    <a href="{{url_for('signin')}}">
        <h6>Already have an account?<h6>
    </a>
</div>
{% endblock %}