{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="rounded responsive-large center">
                <h6>{{ message }}</h6>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<a href="{{ url_for('homepage') }}">
    <h1 class="game-title">Word VS</h1>
</a>
<div class="input-content-container">
    <div class="rounded form-bg max-width">
        <form method="POST" action="{{ url_for('signup') }}">
            <div class="responsive-large">
                <label for="username"><h5>Username</h5></label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="username" type="text" name="username" pattern="^[a-zA-Z0-9]{5,11}$"
                required>
                <h4 class="rules responsive-large">1. Needs to be between 5-11 characters long</h4>
            </div>
            <div class="responsive-large">
                <label for="password"><h5>Password</h5></label>
            </div>
            <div class="center rounded responsive-large dark">
                <input class="center" id="password" type="password" name="password" pattern="^[a-zA-Z0-9]{5,15}$"
                 required>
                <h4 class="rules responsive-large">1. Cant include special characters</h4>
                <h4 class="rules responsive-large">2. Needs to be between 5-15 characters long</h4>
            </div>
            <div class="responsive-large" id="button-margins">
                <button class="rounded responsive-large dark" type="submit">
                    <h5>Sign up</h5>
                </button>
            </div>
        </form>
    </div>
</div>
<a href="{{url_for('signin')}}" class="responsive-large rounded top-margin max-width center">
    <h6>Already have an account?</h6>
</a>
{% endblock %}